* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 15vh;
    background-color: #005272;
    color: white;
    padding-bottom: 10px;
}

header h1{
    padding-top: 10px;
    opacity: 0.8;
    text-align: center;
}

header h1::before{
    content: '👑';
    position: absolute;
    transform: translateX(-110%);
    font-size: 1.5em;
}

header p{
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

header .main-subheading{
    font-size: 16px;
    margin-top: -3px;
    transform: rotate(-2deg) translateX(4em);
}

.board{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background-color: #eeeeee;
    margin: 25px auto;
    /* padding: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid darkgoldenrod;
}

.col-axis{
    width: 50px;
    height: 20px;
    /* border: 1px solid grey; */
    margin: 10px 0;
    text-align: center;
    position: relative;
    
    /* transform: translateY(-100%); */
}

.row-axis{
    width: 20px;
    height: 50px;
    /* border: 1px solid grey; */
    margin: 0 10px;
    text-align: center;
    position: relative;
    
    /* transform: translateY(-100%); */
}

.square-black,
.square-white{
    width: 50px;
    height: 50px;
    /* border: 1px solid grey; */
    margin:0;
}

.square-black{
    background-color: #003030;
}

.square-white{
    background-color: #eeffff;
}

.square-selected-black{
    box-shadow: inset 0px 0px 5px 7px #e100ff;
}

.square-selected-white{
    box-shadow: inset 0px 0px 5px 7px #830094;
}